h1 {
  font-size: 1.5rem;
}
/* .full-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.city-tabs {
  display: flex;
  gap: 2rem;
}
.tab {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
}
.active {
  background-color: blue;
  color: white;
}
.city-container {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.row {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-md-6 {
  width: 22rem;
}
.show-more-container {
  display: flex;
  justify-content: center;
}
.show-more {
  background-color: blue;
  color: white;
  padding: 15px 40px;
}
